/* owl carousel styles */

//owl Carousel
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    .owl-wrapper {
        display: none;
        position: relative;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .owl-wrapper-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
        &.autoHeight {
            transition: height 500ms ease-in-out;
        }
    }
    .owl-item {
        float: left;
    }
}


/* owl controls styles */

.owl-controls {
    user-select: none;
    font-size: 0;
    .owl-page {
        cursor: pointer;
    }
    .owl-buttons {
        div {
            cursor: pointer;
            display: inline-block;
            border-radius: 2px;
        }
        .glyphicon {
            background-color: transparent;
        }
        .owl-next {
            margin-left: 5px;
        }
    }
}
