/* images for parallax backgrounds */

#about {
    background-image: url(http://placehold.it/1920x1080);
}

#review {
    background-image: url(http://placehold.it/1920x1080);
}

#costing {
    background-image: url(http://placehold.it/1920x1080);
}

#contact {
    background-image: url(http://placehold.it/1920x1080);
}
