/* Parallax styles */

.parallax {
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0;
    z-index: 1;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        background: rgba($black, 0.74);
        z-index: -1;
    }
    .section-title {
        h2,
        .sub-title {
            color: darken($white, 10%);
        }
        h2:after {
            background-color: darken($white, 10%);
        }
    }
    @include breakpoint-max($screen-md - 1) {
        background-attachment: scroll;
        background-position: 50% 50% !important;
    }
}
